*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

html,body{
    /* overflow: hidden; */
    height: 100vh;
}

#container{
    width: 100%;
    height: 100vh;
}

/* .navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999 !important;
    min-height: 5vh;
    width: 100%;
    background-color: rgb(24, 18, 18);
} */

/* .navbar ul{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a{
    color: #fff;
    font-size: 2rem;
    transition:  color 300ms;
}

.navbar ul li a:hover{
    color: orange;
} */

section{
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    z-index: -1;
    background-color: #000;
}


section .sBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #fff;
}


.section h2 {
    font-size: 8rem;
    text-align: center;
    margin-left: -1000px;
    margin-bottom: 8rem;
}

.section p{
    display: block;
    width: 80%;
    font-size: 3rem;
    margin-left: 5000px;
    text-align: center;
}

.from-left{
    animation: textFromLeft 2500ms 1 forwards ease;
}

.from-right{
    animation: textFromRight 3000ms 1 forwards ease-out 1.2s;
}

/* fullpage dots navigation */
span{
    border-radius: 0 !important;
    background-color: #fff !important;
}



footer{
    text-align: center;
    padding: 10px;
}


/* animations */

@keyframes textFromLeft {
    0%{
        margin-left: -4000px;
    }
    100%{
        margin-left: 0;
    }
}

@keyframes textFromRight {
    0%{
        margin-left: 5000px;
    }
    100%{
        margin-left: 0;
    }
}
